<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Doces do Rabudinho - Início</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="header-simples">
        <nav>
            <img src="{{ url_for('static', filename='img/rabudinho1.png') }}" alt="Logo Burrinho" class="logo-nav">
            
            <a href="/">Início</a>
            <a href="/pedido">Fazer Pedido</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/login">Login</a>
            <a href="/contato">Contato</a>
            <a href="/feedback">Feedback</a>
        </nav>
    </header>

    <main>
        <div class="banner-central">
            <img src="{{ url_for('static', filename='img/rabudinho2.png') }}" alt="Destaque Rabudinho">
        </div>

        <div class="bemvindo">
            <p class="texto-instagram">VEM PRO NOSSO INSTAGRAM</p>
            <p style="color: #ffe0b2;">Adoçando o seu dia da melhor maneira!</p>
            <a href="/pedido" class="botao-destaque">Quero pedir agora!</a>
        </div>
    </main>

</body>
</html>